<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>live chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="chat-page">
        <div class="chat-history"></div>
        <div class="chat-form">
            <form action="">
                <input type="text">
                <button>Send</button>
            </form>
        </div>
    </div>
    <script>
        function poll() {
            
            setTimeout(poll,2000);


        };
    </script>
</body>

</html>